<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body bgproperties="fixed">
	<input type="hidden" id="queueId" name="queueId" value=""> 
	<div class="d-flex">
		<div class="card" id="coddera-widget-card">
			<div class="custom-card-header">
				<!-- <input type="button" id="remove-coddera-widget-card-btn" value="X"> -->
			</div>
			<div class="card-body" id="choose-queue" >
				<h3>FALE CONOSCO</h3>
				<p>Nosso atendimento é de Segunda a Sexta-feira das <strong>08h às 18h</strong>.</p>
			</div>
			<div class="card-body"  id="form-body" style="display: none;">
				<form>
					<div class="body-msg">Para iniciar, preencha os campos abaixo</div>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="Nome" id="first-name" required >
					</div>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="E-mail" id="email" required >
					</div>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="CPF" id="cpf" data-mask="000 000 000 09" required >
					</div>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="Telefone" id="phone-number" data-mask="00 00000 0009" required >
					</div>
					<div class="input-group form-group">
						<textarea class="form-control" id="question" placeholder="Pergunta" rows="5" cols="33" required></textarea>
					</div>
					<div class="form-group">
						<input type="button" value="Iniciar" class="btn submit-widget" id="submit-widget" disabled>
					</div>
				</form>
			</div>
			<div class="wait-card" id="wait-card" style="display: none;">
				<p>Aguarde um momento que em breve você será atendido</p>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	
	<script>
        function clickFileUpload() {
            document.getElementById("widget-file-upload").click();
        };
	</script>

	<style>
		@import url('https://fonts.googleapis.com/css?family=Numans');

		.initial-card {
			width: 292px;
			height: 550px;
			font-weight: bold;
			font-size: 30px;
			align-items: center;
			text-align: center;
			color: #FFFFFF;			
			margin-top: 40%;
		}
		.initial-card img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width:200px;
			max-height:150px;
			width: auto;
			height: auto;
		}

		#coddera-widget-card{
			height: 550px;
			width: 292px;
			border: none;
			box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.77);
			font-family: Helvetica;
			background: linear-gradient(180deg, #034EA1 4.74%, #0060AE 36.59%, #007BC3 64.78%, #0095DA 94.06%);
		}

		#coddera-widget-card .custom-card-header {
			background-color: transparent;
			width: 100%;
			height: 10%;
			border: none;
			text-align: center;
		}

		.card_widget_logo {
			max-width: 100%;
			max-height:50px;
			margin-left: 10%;
			width: auto;
			height: auto;
			margin-top: 10px;
		}

		.card-body {
			height: 350px;
			width: 292px;
			margin-top: 20px;
			border-radius: 50px 2px 2px 2px;
			background: white
		}

		#choose-queue h3{
			font-weight: bold;
			color: #0060AE
		}

		.body-msg {
			margin-bottom: 15px;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			color: #F6921E;
		}

		.wait-card {
			font-style: normal;
			font-weight: 300;
			font-size: 30px;
			line-height: 40px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #FFFFFF;
			margin-top: 50%;
			margin-bottom: 50%;
			margin-right: 20px;
			margin-left: 20px;
		}

		.form-group .form-control{
			border-radius: 6px;
			color: #0095DA;
			font-weight: bold;
			font-size: 12px;
		}

		.form-control[type=text]:focus {
			border-bottom: 2px solid #FCAF17;
		}  

		.form-control::-webkit-input-placeholder {
			color: rgba(0, 0, 0, 0.54);
			font-weight: bold;
			font-size: 12px;
		}

		.form-group .form-control:-moz-placeholder { /* Firefox 18- */
			color: rgba(0, 0, 0, 0.54);
			font-weight: bold;
			font-size: 12px;
		}

		.form-group .form-control::-moz-placeholder {  /* Firefox 19+ */
			color: rgba(0, 0, 0, 0.54); 
			font-weight: bold;
			font-size: 12px;
		}

		.form-group .form-control:-ms-input-placeholder {  
			color: rgba(0, 0, 0, 0.54);
			font-weight: bold;
			font-size: 12px;
		}

		#question {
			height: 100px;
			resize: none;
		}
		
		#question:focus{
			border-bottom: 2px solid #FCAF17;
		}

		.form-group input:focus{
			outline: 0 0 0 0  !important;
			box-shadow: 0 0 0 0 !important;
		}

		#initial-widget-btn{
			color: white;
			width: 80%;
			background: #0060AE;
			border-radius: 6px;
			font-weight: 700;
		}
		
		.queue-btn{
			color: white;
			width: 100%;
			background: gray;
			border-radius: 6px;
			font-weight: 700;
			margin-top: 10px;
		}

		.queue-btn:enabled {
			background: green;
		}

		#submit-widget{
			color: white;
			width: 100%;
			background: #0060AE;
			border-radius: 6px;
			font-weight: 700;
			margin-top: 5px;
		}

		#coddera-widget-card .custtom-card-footer {
			background-color: white;
			border: none;
			width: 100%;
		}

		#open-form-widget-button {
			color: white;
			background: #034EA1;
			width: 270px;
			height: 50px;
			box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), inset 0px 1px 0px rgba(255, 255, 255, 0.12);
			border-radius: 50px 2px 2px 2px;
			font-family: Helvetica;
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
		}

		.custom-card-body {
			width: 292px;
			height: 100%;
			margin-top: 8px;
			border-radius: 50px 2px 2px 2px;
			background: white;
			overflow-y: auto;
			overflow-x: hidden;
		}
	</style>
</body>
</html>